<!--<p [style.backgroundColor]="maProp">we are on app.component</p>
<p>bonjour {{ info.nom }}</p>

<p>rebonjour {{ getName() }}</p>

<div>contenu de div</div>

<div [hidden]="show">contenu de div2</div>

<app-test-component></app-test-component>

Even Binding -->
<!--<button (click)="changeStatus()">Allumer/Eteindre</button>-->

<!--<button class="btn btn-danger">Valider</button>

-->

<div class="container mt-5">
  <div class="row">
    <app-menu></app-menu>
  </div>
  <div class="row">
    <div class="col-md-8">
      <app-contenu></app-contenu>
    </div>
    <div class="col-md-4">
      <app-side></app-side>
    </div>
  </div>

  <div class="row">
    <app-produit></app-produit>
  </div>
  <app-add-produit></app-add-produit>
</div>
